.DivColor{
    background-color: blueviolet;
}

.titleHeader{
    height: 125px;
    background-color: #D9D9D9;
    color: red;
    font-size: 25px;
}

.top {
    margin-top: 50px;
}

.end {
    display: flex;
    justify-content: flex-end;
}

.between {
    display: flex;
    justify-content: space-evenly;
}

.bottom {
    margin-top: 20px;
    margin-bottom: 20px;
}

.top2 {
    margin-top: 20px;
}

.top3 {
    margin-top: -10px;
}